<div class="main">
  <div class="title">
    <h1>About Me</h1>
  </div>
  <div class="description">
    <p>
      I am indie hacker, who travels around the world.
      I have been an indie hacker for about three years. An indie hacker is someone,
      who is foremost interested in building business and uses coding as tool in building those businesses.
    </p>
    <p>
      The goal of this blog is to share my
      experiences, both the good and the bad.  Some of the posts are about programming, however
      this is not a programming blog.  Some of the posts are about the sites I have createt: what has
      worked and what has not.  Some of the posts are about being a digital nomad.  In other words,
      any post that is related to my being an indie hacker or related issues are fair game on this blog.
    </p>
    <p>
      None of the posts on this blog are presented as I am the expert and my solution is the only
      correct way to do things.  Your comments, advice, input, criticisms are appreciated.
    </p>
    <p>
      Happy Hacking
    </p>
    <p>
      An Indie Hacker
    </p>
  </div>
</div>
