.show {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 36em
}

.title {
  text-align: center;
}

.image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
