<header class="header">
  <div>
    <h1>An Indie Hacker Journey</h1>
  </div>
  <div class="buttons">
    <%= link_to "Home", root_path %>
    <%= link_to "About Me", about_me_index_path %>
  </div>
</header>
